<%- include('partials/header');-%>

<form method="POST" action="/given-outing" autocomplete="off">
    <h5><label for="Name">Enter your Roll No</label></h5>
<input type="text" name="roll" placeholder="Roll num" /><br><br>
<button class="btn btn-warning">Done</button>
</form>


<%- include('partials/footer');-%>