<%- include('partials/header');-%>






	<section id="content-wrapper" class="container">

      <h3 style="text-align:center;">Hostels</h3>
      <div class="row" >
		<% for(var i=0;i<Block.length;i++){%>
			<div class="col-lg-4 col-md-6  ca">
				<a href="/blocks/<%=Block[i].blockName%>"> 
					<h1><%=Block[i].blockName%></h1>
				  </a>
			</div>
		
		<%}%>

      </div>
    </section>
	

<%- include('partials/footer');-%>
